@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Prata&display=swap");

/* npx tailwindcss -o tailwind.css --minify */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: outfit;
}



.active {
  --tw-border-opacity: 1;
  background-color: #ffebf5 !important;
  color: #c586c5 !important;
  border-color: #6b7280;
}

.scrollHide::-webkit-scrollbar{
  display: none;
}
